<app-loading [loading]="loading"></app-loading>
<div *ngIf="bug" class="card col-md-8 mx-auto mt-5 text-capitalize">
  <div class="card-header">{{ bug.user.name }}</div>
  <div class="card-body" *ngIf="!isEdit">
    <div class="card-title bg-light">
      title: <span class="fs-3"> {{ bug.title }}</span>
    </div>
    <div class="card-text bg-light">description:</div>
    <div class="card-text fs-3">{{ bug.description }}</div>
    <div class="card-text bg-light">solution:</div>
    <div class="card-text fs-3">{{ bug.solution }}</div>
    <div class="card-text bg-light fs-4">
      status:
      <span
        [className]="bug.status === 'UNSOLVED' ? 'text-danger' : 'text-success'"
        >{{ bug.status }}</span
      >
    </div>
    <div class="btn-group">
      <a
        routerLink="/project/singleproject/{{ bug.project.id }}"
        class="btn btn-info"
        >project</a
      >
      <button class="btn btn-warning" (click)="showEdit()">edit</button>
      <button
        class="btn btn-danger"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        type="button"
      >
        delete
      </button>
    </div>
  </div>

  <div *ngIf="isEdit" class="card-body">
    <form (submit)="(editBug)">
      <div class="row g-3 align-items-center">
        <div class="col-1"><label for="title">title:</label></div>
        <div class="col-4">
          <input
            class="form-control"
            type="text"
            name="title"
            [(ngModel)]="title"
            id="title"
          />
        </div>
        <div [hidden]="!updateTitleErr" class="col-7 text-danger">
          {{ updateTitleErr }}
        </div>
      </div>

      <div>
        <div class="row g-3">
          <div class="col-1">
            <label for="description">description:</label>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-5">
            <textarea
              class="form-control"
              type="text"
              name="description"
              [(ngModel)]="description"
            ></textarea>
          </div>
        </div>
      </div>

      <div>
        <div class="row g-3">
          <div class="col-1">
            <label for="description">solution:</label>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-5">
            <textarea
              class="form-control"
              type="text"
              name="solution"
              [(ngModel)]="solution"
            ></textarea>
          </div>
        </div>
      </div>
      <div>
        <div class="row g-3">
          <div class="col-1">
            <label for="status">status:</label>
          </div>
        </div>
        <div class="row g-3">
          <div class="col-5">
            <select
              class="form-control"
              name="status"
              id="status"
              [(ngModel)]="selectedValue"
              (change)="onChange()"
            >
              <option class="text-danger">UNSOLVED</option>
              <option class="text-success">SOLVED</option>
            </select>
          </div>
        </div>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary" (click)="editBug()">save</button>
        <button class="btn btn-danger" (click)="closeEdit()">cancel</button>
      </div>
    </form>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <span>created at {{ bug.createdAt }}</span>
    <span>updated at {{ bug.updatedAt }}</span>
  </div>
</div>
<h1 *ngIf="!bug" class="text-center mt-5">Bug not Found!</h1>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Bug</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Are you sure to delete this Bug?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          data-bs-dismiss="modal"
          class="btn btn-danger"
          (click)="deleteBug()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
